<div [@routerTransition]>
  <app-page-header [heading]="'Plano de Ensino'" [icon]="'fa-edit'"></app-page-header>

  <div class="row">
    <div class="col-lg-6">
      <form role="form" (ngSubmit) = "cadastrar()">
        <h2>{{titulo}}</h2>
        <fieldset class="form-group">
          <label>Tipo do Curso</label>
          <input class="form-control">
          <label>Modalidade</label>
          <input class="form-control">
          <label>Denominação do Curso</label>
          <input class="form-control">
          <label>Habilitação</label>
          <input class="form-control">
          <label>Local de Oferta</label>
          <input class="form-control">
          <label>Turnos de Funcionamento</label>
          <input class="form-control">
          <label>Numero de Vagas para cada Turno</label>
          <input class="form-control">
          <label>Carga Horária do Curso</label>
          <input class="form-control">
        </fieldset>
        <fieldset>
          <label>Estrutura Curricular</label>
          <div class="row">
            <div class="col-xl-6 text-xs-center">
              <label>Regime Letivo</label>
              <input class="form-control">
            </div>
            <div class="col-xl-6 text-xs-center">
              <label>Períodos</label>
              <input class="form-control">
            </div>
          </div>
        </fieldset>
        <fieldset>
          <label>Coordenador do Curso</label><br>
          <div class="form-group">
            <label>Nome</label>
            <select class="form-control">
              <option>1</option>
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
            </select>
          </div>
          <label>CPF</label>
          <input class="form-control">
          <label>Titulação</label>
          <input class="form-control">
          <label>Tempo de Dedicação</label>
          <input class="form-control">
        </fieldset><br>
        <button type="submit" class="btn btn-secondary">Salvar</button>&nbsp;
        <button type="button" class="btn btn-secondary">Limpar</button>&nbsp;
        <button type="button" class="btn btn-secondary" [routerLink]="['/planoDeEnsino']">Voltar</button>
      </form>
    </div>
  </div>
  <!-- /.row -->
</div>
