<div [@routerTransition]>
    <app-page-header [heading]="'Ata de Reunião'" [icon]="'fa-desktop'"></app-page-header>
    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="row">
      <div class="col-lg-6">
        <form role="form">
          <fieldset class="form-group">
            <label>Data de Reunião</label>
            <input class="form-control">
            <label>Local da Reunião</label>
            <input class="form-control">
            <label>Participantes</label>
            <input class="form-control">
            <label>Deliberação</label>
            <input class="form-control">
          </fieldset>
          <br>
          <button type="button" class="btn btn-secondary">Incluir</button>&nbsp;
          <button type="button" class="btn btn-secondary">Limpar</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col col-xl-6 col-lg-12">
        <div class="card mb-3">
          <div class="card-header">Small table</div>
          <table class="table table-sm">
            <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td colspan="2">Larry the Bird</td>
              <td>@twitter</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
